<div class="project-detail">
    <h2>프로젝트 제목</h2>
    
    <div class="detail-content">
        
        <div class="project-info">
            <p class="project-description">프로젝트 상세 설명...</p>
            
            <h4>사용 기술</h4>
            <div class="tech-stack">
                <span>HTML</span>
                <span>CSS</span>
                <span>JavaScript</span>
            </div>
            
            <h4>주요 기능</h4>
            <ul class="features">
                <li>기능 1</li>
                <li>기능 2</li>
                <li>기능 3</li>
            </ul>

        </div>
    </div>
    
</div>
