<h2>프로젝트</h2>
<p>제가 지금까지 참여한 팀프로젝트와 개인 프로젝트입니다!</p>

<div class="project-container">
    <!-- 프로젝트 카드 예시 -->
    <div class="project-card">
        <a href="#project-detail/1" class="card-link">
            <div class="card-content">
                <h3>project title 1</h3>
                <p class="project-description">project description 1</p>
                <div class="tech-stack">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                </div>
                <div class="project-links">
                    <a href="#" target="_blank" class="github-link">GitHub</a>
                </div>
            </div>
        </a>
    </div>

    <div class="project-card">
        <a href="/project/2" class="card-link">
            <div class="card-content">
                <h3>project title 1</h3>
                <p class="project-description">project description 1</p>
                <div class="tech-stack">
                <span>HTML</span>
                <span>CSS</span>
                <span>JavaScript</span>
            </div>
            <div class="project-links">
                <a href="#" target="_blank">GitHub</a>
            </div>
        </a>
    </div>
    
    
    <!-- 추가 프로젝트 카드들을 이 형식으로 복사해서 사용하세요 -->
</div>